.jams-hero-grid {
    display: grid;
    grid-row-gap: 5rem;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    margin-bottom: 9rem;
}

#blocJamsSmall, .blocJamsBreak {
  width: 100%;
}

#blocJamsLarge {
  display: none;
}

.userStories {
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 5rem;
  margin-bottom: 9rem;
}

#storiesText {
  padding-bottom: 3rem;
}

h6 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 1.5rem;
  line-height: 167.2%;
  text-align: center;
}

pre code {
  font-family: "Crimson Text", serif;
  font-size: 1.4rem;
  line-height: 167.2%;
}

/* tablets */
@media (min-width: 675px) {

  .jams-hero-grid {
    grid-column-gap: 5rem;
    grid-template-columns: 50% 50%;
    margin-top: 5rem;
}

#case-study-highlights {
  width: 50vw;
}

.blocJamsBreak {
  margin-bottom: 9rem;
  margin-top: 9rem;
}

h6 {
  font-size: 1.8rem;
}

.keyTakeaways {
  grid-column-start: 2;
  margin-top: 9rem;
}

}

  /*laptops & desktops */
  @media (min-width: 991px) {
    #blocJamsSmall, .blocJamsBreak {
      display: none;
    }

    #blocJamsLarge {
      display: flex;
      width: 100%;
    }

    .userStories {
    grid-template-columns: 30% 30% 30%;
    }

    #storiesText {
      grid-column-end: 3;
    }

    #storyOne, #storyTwo, #storyThree {
      grid-row-start: 2;
    }

    #storyTwo {
      grid-column-start: 2;
    }

    #storyThree {
      grid-column-start: 3;
    }
  }
