#cloudHeroSmall {
  margin-top: 9rem;
  width: 95%;
}

#cloudHero, #usabilityImagesDesktop, #userFlowDesktop, #wordWebsDesktop, #logoSketchesDesktop {
  display: none;
}

#cloudLogos {
  padding-bottom: 3rem;
}

#wireframesMobile {
  margin-bottom: 10rem;
  width: 95%;
}

#usabilityImages, #userInsights {
  margin-left: -3rem;
}

/* tablets */
@media (min-width: 575px) {
  .hero-grid-left {
    margin-top: 9rem;
  }

  .process {
    margin-top: 9rem;
  }

  #userFlows, #logoSketches, #usabilityImages, #wireframesMobile, #wordWebs {
    display: none;
  }

  #userFlowDesktop {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  #logoSketchesDesktop, #usabilityImagesDesktop, #wireframesDesktop, #wordWebsDesktop {
    display: flex;
  }

  #logoSketchesDesktop {
    padding-bottom: 0rem;
  }

  #wireframesDesktop, #usabilityImagesDesktop {
    width: 100%;
  }

  #wireframesDesktop {
    margin-bottom: 15rem;
  }

  .colorPalette {
    margin-left: 10rem;
  }

  .cloudCaseStudyPic {
    padding-bottom: 8rem;
  }
}

/*laptops & desktops */
@media (min-width: 991px) {
  #cloudHeroSmall {
    display: none;
  }

.hero-grid-left {
  margin-top: 0;
}

  #cloudHero {
    display: flex;
    margin-top: 6rem;
    width: 80%;
  }

  .process {
    padding-bottom: 9rem;
  }

  .userFlowsImages, .logoSketches {
    position: absolute;
  }

  .logoSketches {
    width: 100%;
  }

  #userFlowDesktop, #logoSketchesDesktop {
    margin: 2rem;
    width: 50%;
  }

  .cloudCaseStudyPic {
    width: 60%;
  }

  #userInsights {
    bottom: 10rem;
    margin: 0;
    position: relative;
  }

  #centered, #centered2 {
    justify-content: center;
    text-align: center;
  }

  #centered2 {
    margin-left: 24rem;
    width: 60%;
  }

  /*Visual Design*/
  .VisualDesign {
    padding-top: 0;
  }

  .visualDesignGrid {
    margin-bottom: 20rem;
  }

  #cloudPalette {
    align-content: stretch;
    grid-column-start: 2;
  }

  .colorPalette {
    margin-left: 5rem;
  }

  #logoDesign {
    margin-bottom: 9rem;
  }

  #testingIntro {
    width: 40%;
  }

  .testing {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-left: 30rem;
  }

  #logoPlacement2, #dashboardIcons2, #loginOption2, #newDocFinal {
    margin-left: 10rem;
  }
}
