#cloudHeroSmall {
  margin-top: 9rem;
}

#cloudHero, #usabilityImagesDesktop, #userFlowDesktop, #wordWebsDesktop, #logoSketchesDesktop, #wireframesDesktop {
  display: none;
}

#cloudLogos {
  padding-bottom: 3rem;
}

#wireframesMobile {
  margin-bottom: 10rem;
  width: 95%;
}

#userInsights {
  margin-left: -3rem;
}

#prefTestPic {
  margin-bottom: 5rem;
}

/* tablets */
@media (min-width: 575px) {
  .hero-grid-left, .hero-grid-right {
    margin-top: 9rem;
  }

  .process {
    margin-top: 9rem;
  }

  #cloudHeroSmall, #userFlows, #logoSketches, #usabilityImages, #wireframesMobile, #wordWebs {
    display: none;
  }

  #cloudHero {
    display: flex;
    position: relative;
    margin-bottom: -8rem;
    }

  #userFlowDesktop {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #logoSketchesDesktop, #usabilityImagesDesktop, #wireframesDesktop, #wordWebsDesktop {
    display: flex;
  }

  #logoSketchesDesktop {
    padding-bottom: 0rem;
  }

  #wireframesDesktop, #usabilityImagesDesktop {
    margin: auto;
    padding-bottom: 4rem;
    width: 80%;
  }

  #usabilityImagesDesktop {
    padding-bottom: 8rem;
  }

  .logoDesign {
    margin-top: 4rem;
  }

  .cloudCaseStudyPic {
    padding-bottom: 8rem;
  }

  .prefTests {
    margin-bottom: 6rem;
  }

  #prefTestPic {
    margin: auto;
    width: 80%;
  }
}

/*laptops & desktops */
@media (min-width: 991px) {
  .hero-grid-left, .hero-grid-right {
    margin-top: 0;
  }

  .process {
    padding-bottom: 9rem;
  }

  .userFlowsImages, .logoSketches {
    position: absolute;
  }

  #userFlowDesktop {
    bottom: 2rem;
    width: 50%;
  }

  #logoSketchesDesktop {
    bottom: 3rem;
  }

  .wireframes {
    display: grid;
    grid-gap: 10rem;
    grid-template-columns: 40% 50%;
  }

  #wireframesDesktop {
    padding-top: 12rem;
  }

  .cloudCaseStudyPic {
    width: 60%;
  }

  #centeredCallout {
    bottom: 10rem;
    margin: 0;
    position: relative;
  }

  /*Visual Design*/
  .VisualDesign {
    padding-top: 0;
  }

  #wordWebs, .logoSketches {
    width: 90%;
  }

  .brandColors {
    padding: 0rem;
  }

  #logoDesign {
    margin-bottom: 8rem;
  }

  /*Testing*/
  #logoPlacement1, #logoPlacement2 {
    width: 100%;
  }

  #testingIntro {
    margin-bottom: 5rem;
    width: 50%;
  }

  .prefTests {
    margin-bottom: 10rem;
  }

  #prefTestPic {
    margin: 0rem;
    padding: 0rem;
    width: 90%;
  }

  #newDocFinal, #dashboardFinal {
    width: 70%;
  }

  #logoPlacement2, #dashboardIcons2, #loginOption2, #newDocFinal {
    margin-left: 10rem;
  }
}
