#userFlows {
  margin-left: -3rem
}

#userFlowDesktop {
  display: none;
}

#wireframeLeft, #wireframeRight, #logInWireframe {
  display: block;
  margin: auto;
  padding: 2rem;
  width: 100%;
}

#wireframeLeft {
  margin-bottom: 7rem;
}

#twoFactorAuth {
  width: 100%;
}

#chat {
  padding-top: 2rem;
}

#newDoc {
  padding-top: 2rem;
  width: 100%;
}

#cloudLogos {
  padding-bottom: 3rem;
}

/* tablets */
@media (min-width: 575px) {
  .hero-grid-left {
    margin-top: 9rem;
  }

  .cloudDeskBreak {
    text-align: center;
  }

  .statOne, .statTwo, .statThree {
    text-align: center;
  }

  #userFlows {
    display: none;
  }

  #userFlowDesktop {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 85vw;
  }

  .wireframes {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 100%;
    margin-bottom: 9rem;
  }

  #wireframeLeft, #wireframeRight, #logInWireframe {
    margin: 0;
    padding: 0;
    width: 50vw;
  }

  .colorPalette {
    margin-left: 10rem;
  }

  .cloudCaseStudyPic {
    padding-bottom: 8rem;
  }
}

/*laptops & desktops */
@media (min-width: 991px) {
  #cloudHeroSmall {
    display: none;
  }

  #cloudHero {
    display: flex;
    width: 100%;
  }

  #userFlowDesktop {
    width: 80vw;
  }

  #wireframeLeft, #wireframeRight, #logInWireframe {
    width: 20vw;
  }

  #twoFactorAuth {
    float: right;
    width: 60%;
  }

  .cloudCaseStudyPic {
    width: 60%;
  }

  /*Collaborative Features Wireframes*/
  #chat {
    float: right;
    margin-right: 10rem;
    width: 70%;
  }

  #collabCaption {
    margin-bottom: 10rem;
    margin-top: 40rem;
  }

  #newDoc {
    width: 60%;
  }

  /*Other Elements Wireframes*/
  #dashboard {
    float: right;
  }

  #newDoc {
    margin-left: -4rem;
  }

  /*Visual Design*/
  #cloudMoodboard {
    float: right;
    width: 80%;
  }

  #cloudPalette {
    align-content: stretch;
    grid-column-start: 2;
  }

  .colorPalette {
    margin-left: 5rem;
  }

  #cloudLogos {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
  }

  #logoDesign {
    margin-bottom: 9rem;
  }

  /*Hifi Mockups & Testing*/
  .testing {
    display: grid;
    grid-column-gap: 8rem;
    grid-template-columns: 50% 50%;
    margin-bottom: 9rem;
  }

  .testingText {
    grid-column: span 2;
  }

  #logoPlacement1 {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  #logoPlacement2 {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  #logoPlacement1, #logoPlacement2, #dashboardIcons1, #dashboardIcons2, #loginOption1, #loginOption2, #dashboardFinal, #newDocFinal {
    width: 80%;
  }

  /*Final Testing*/
  .finalTesting {
    display: grid;
    grid-column-gap: 8rem;
    grid-template-columns: 50% 50%;
    margin-top: 5rem;
  }

  #dashboardFinal {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  #newDocFinal {
    grid-column-start: 2;
    grid-row-start: 2;
  }
}
