* {
  box-sizing: border-border-box;
}

html {
  font-size: 10px;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

header {
  background-color: #1E425D;
  height: 18vh;
  max-width: inherit;
}

a {
  color: #E5E5E5;
  float: right;
  font-family: "Crimson Text", serif;
  font-size: 1.7rem;
  padding: 3rem;
  padding-top: 8.6rem;
  text-decoration: none;
}

.logo {
  display: inline-flex;
  float: left;
  padding-top: 7.5rem;
}

/*.name {
  display: inline-flex;
  float: left;
  padding-left: 2rem;
  padding-top: 2.2rem;
}*/

.container {
  background-color: white;
  margin: 3rem;
}

/* Case Study paragraph text */
p {
  font-family: "Crimson Text", serif;
  font-size: 1.5rem;
  line-height: 167.2%;
  margin-top: .5rem;
  padding-bottom: 7rem;
}

/* Landing page paragraph text */
.p1 {
  font-family: "Crimson Text", serif;
  font-size: 1.8rem;
  margin-top: .5rem;
}

h1 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 3.2rem;
  padding-bottom: 3rem;
}

h2 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 2rem;
  padding-bottom: 2rem;
}

/* Case Study Titles */
h3 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 2.4rem;
}

/* User Survey Percentages or Highlights */
h4 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 4.8rem;
  padding-bottom: 2rem;
  text-align: center;
}

/* Let's Connect */
h5 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

section {
  padding-top: 8rem;
}

.hero {
  line-height: 3rem;
}

button {
  background: #2F8B8B;
  border: none;
  box-shadow: 0rem 0rem 0.5rem grey;
  border-radius: 3rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin-top: 5rem;
  margin-bottom: 9rem;
  padding: 1.5rem;
}

/* Gray element across case study cards */
.label {
  background-color: #1E425D;
  bottom: 5.5rem;
  opacity: .85;
  padding: 1.6rem;
  position: relative;
  text-align: center;
}

/* Case Study titles */
.casestudy {
  color: #E5E5E5;
  font-family: "Crimson Text", serif;
  font-size: 1.8rem;
  margin-top: .5rem;
}

/* cloudDesk brand name */
.cloud {
  font-family: "Montserrat", sans-serif;
}

/* Case Study call outs */
#case-study-highlights {
  background: #1E425D;
  border-radius: 0 3rem 3rem 0;
  color: #ffff;
  margin-left: -3rem;
  padding-left: 5rem;
  padding-top: 6rem;
}

.r-d-t { /* roles - Deliverables - Tools Used */
  margin-right: 6rem;
}

.caption_left {
  background: #1E425D;
  border-radius: 0 0 3rem 0;
  bottom: 3rem;
  color: #ffff;
  margin-left: -3rem;
  margin-bottom: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 7rem;
  position: relative;
  width: 100%;
}

.caption_right {
  background: #1E425D;
  border-radius: 0 0 0 3rem;;
  bottom: 3rem;
  color: #ffff;
  margin-bottom: 5rem;
  margin-left: -3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 7rem;
  position: relative;
  width: 100%;
}

.colorPalette {
  display: inline-block;
  padding: 3rem;
}

ul {
  list-style-type: circle;
  margin-left: 5rem;
  margin-right: 3rem;
  margin-bottom: 5rem;
}

li {
  font-family: "Crimson Text", serif;
  font-size: 1.5rem;
  line-height: 167.2%;
  padding-bottom: 2rem;
}

.keyTakeaways {
  background: #1E425D;
  border-radius: 3rem 0 0 3rem;
  bottom: 3rem;
  color: #ffff;
  margin-bottom: 5rem;
  margin-left: -3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 7rem;
  width: 100%;
}

/* footer elements */
.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email {
  padding: 3rem;
  padding-left: 8rem;
}

.linkedin {
padding: 3rem;
}

.github {
  padding: 3rem;
  padding-right: 8rem;
}

footer {
  position: absolute;
  height: 2.5rem;
}

.banner {
  width: 100vw;
}

/* @media screen and (max-width: 1024px) {
  header.mdl-layout__header {
    display: flex;
  }
} */
