* {
  box-sizing: border-border-box;
}

html {
  font-size: 10px;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

header {
  background-color: #1E425D;
  height: 18vh;
  max-width: inherit;
}

a {
  color: #E5E5E5;
  float: right;
  font-family: "Crimson Text", serif;
  font-size: 1.7rem;
  padding: 3rem;
  padding-top: 8.6rem;
  text-decoration: none;
}

.logo {
  display: inline-flex;
  float: left;
  margin-left: 3rem;
  padding-top: 7.5rem;
}

/*.name {
  display: inline-flex;
  float: left;
  padding-left: 2rem;
  padding-top: 2.2rem;
}*/

.about {
  display: inline-flex;
  float: right;
  padding-right: 3rem;
  padding-top: 2.2rem;
}

.work {
  display: inline-flex;
  float: right;
  padding-right: 4rem;
  padding-top: 2.2rem;
}

.container {
  background-color: white;
  margin: 3rem;
}

p {
  font-family: "Crimson Text", serif;
  font-size: 1.8rem;
  margin-top: .5rem;
}

h1 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 3.2rem;
  padding-bottom: 3rem;
}

h2 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

section {
  padding-top: 8rem;
}

.hero {
  line-height: 3rem;
}

.label {
  background-color: #1E425D;
  bottom: 5.5rem;
  opacity: .85;
  padding: 1.6rem;
  position: relative;
  text-align: center;
}

.social {
  display: inline-flex;
}

.email {
  padding: 3rem;
  padding-left: 8rem;
}

.linkedin {
padding: 3rem;
}

.github {
  padding: 3rem;
  padding-right: 8rem;
}

footer {
  position: absolute;
  height: 2.5rem;
}

/* @media screen and (max-width: 1024px) {
  header.mdl-layout__header {
    display: flex;
  }
} */
