* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

header {
  background-color: #1E425D;
  height: 12vh;
  width: 100vw;
}

.navLink {
  color: #E5E5E5;
  float: right;
  font-family: "Crimson Text", serif;
  font-size: 1.7rem;
  padding: 3rem;
  padding-top: 4rem;
  text-decoration: none;
}

.logo {
  display: inline-flex;
  float: left;
  padding-left: 3rem;
  padding-top: 2rem;
}

.name {
  display: none;
}

.container {
  background-color: white;
  padding: 3rem;
}

/* Case Study paragraph text */
p {
  font-family: "Crimson Text", serif;
  font-size: 1.5rem;
  line-height: 167.2%;
  margin-top: .5rem;
  padding-bottom: 7rem;
}

.italic {
  font-style: italic;
  padding-bottom: 2rem;
}

/* Landing page paragraph text */
#heroText {
  font-family: "Crimson Text", serif;
  font-size: 1.8rem;
  margin-top: .5rem;
}

/*Primary & secondary case study label text on landing page */
.p1, .p3 {
  color: #E5E5E5;
  font-family: "Crimson Text", serif;
  font-size: 1.8rem;
  margin-top: .5rem;
}

/*color palette text */
.p2 {
  font-family: "Crimson Text", serif;
  font-size: 1.5rem;
  line-height: 167.2%;
  padding-bottom: 0;
}

h1 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 3.2rem;
  padding-bottom: 3rem;
}

h2 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 2rem;
  padding-bottom: 2rem;
}

/* Case Study Titles */
h3 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 2.4rem;
}

.bioHeading {
  padding-bottom: 2rem;
}

/* User Survey Percentages or Highlights */
h4 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 4.8rem;
  padding-bottom: 2rem;
  text-align: center;
}

/* Let's Connect */
h5 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

section {
  padding-top: 8rem;
}

.hero {
  line-height: 3rem;
  padding-bottom: 8rem;
}

.primary_card {
  text-decoration: none;
}

.project_card {
  text-decoration: none;
}

.caseStudyPic, .cloudCaseStudyPic {
  width: 100%;
}

#cloudHeroSmall {
  margin-top: 9rem;
  width: 95%;
}

#cloudHero {
  display: none;
}

.button {
  background: #2F8B8B;
  border: none;
  box-shadow: 0rem 0rem 0.5rem grey;
  border-radius: 3rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  margin-top: 5rem;
  margin-bottom: 9rem;
  padding: 1.5rem;
  text-decoration: none;
}

/* Gray element across case study cards */
.label, .labelSmall {
  background-color: #1E425D;
  bottom: 5.5rem;
  opacity: .85;
  padding: 1.6rem;
  position: relative;
  text-align: center;
}

/* Case Study titles */
.casestudy {
  color: #E5E5E5;
  font-family: "Crimson Text", serif;
  font-size: 1.8rem;
  margin-top: .5rem;
}

/* cloudDesk brand name */
.cloud {
  font-family: "Montserrat", sans-serif;
}

/* Case Study call outs */
#case-study-highlights {
  background: #1E425D;
  border-radius: 0 3rem 3rem 0;
  color: #ffff;
  margin-left: -3rem;
  padding-left: 5rem;
  padding-top: 6rem;
}

.r-d-t {
  /* roles - Deliverables - Tools Used */
  margin-right: 6rem;
  padding-bottom: 4rem;
}

.caption_left {
  background: #2D6086;
  border-radius: 0 3rem 3rem 0;
  bottom: 3rem;
  color: #ffff;
  margin-left: -3rem;
  margin-bottom: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 7rem;
  position: relative;
  width: 100vw;
}

.caption_right {
  background: #2D6086;
  border-radius: 3rem 0 0 3rem;
  bottom: 3rem;
  color: #ffff;
  margin-bottom: 5rem;
  margin-left: -3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 7rem;
  position: relative;
  width: 100vw;
}

.colorPalette {
  display: inline-block;
  padding: 3rem;
  padding-bottom: 8rem;
}

ul {
  list-style-type: circle;
  margin-left: 5rem;
  margin-right: 3rem;
  margin-bottom: 5rem;
}

li {
  font-family: "Crimson Text", serif;
  font-size: 1.5rem;
  line-height: 167.2%;
  padding-bottom: 2rem;
}

.keyTakeaways {
  background: #1E425D;
  border-radius: 3rem 0 0 3rem;
  bottom: 3rem;
  color: #ffff;
  margin-bottom: 5rem;
  margin-left: -3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 7rem;
  width: 100vw;
}

#profilePic {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 7rem;
  margin-top: 7rem;
}

/* footer elements */
.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email {
  padding: 3rem;
  padding-left: 8rem;
}

.linkedin {
  padding: 3rem;
}

.github {
  padding: 3rem;
  padding-right: 8rem;
}

/*footer {
  position: absolute;
  height: 2.5rem;
}*/

footer {
  background-image: url(/images/FooterDetail.svg);
  background-size: cover;
  height: 8rem;
  width: 100%;
}

@media (max-width: 575px) {
  .project-grid, .hero-grid {
    grid-template-columns: auto;
  }

  .grid-primary {
    grid-row: span 1;
  }
}

/* tablets */
@media (min-width: 575px) {
  .container {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .name {
    color: #E5E5E5;
    display: inline-flex;
    float: left;
    font-family: "Crimson Text", serif;
    font-size: 1.7rem;
    padding: 3rem;
    padding-top: 5rem;
  }

  h1 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h5 {
    font-size: 2.2rem;
  }

  .bioHeading {
    font-size: 4rem;
  }

  p {
    font-size: 1.8rem;
  }

  .p1 {
    font-size: 2rem;
  }

  #heroText {
    font-size: 2.5rem;
    margin-right: 10rem;
  }

  .caseStudyPic {
    border-radius: 2rem 2rem 2rem 2rem;
  }

  .label {
    bottom: 6.5rem;
    border-radius: 0 0 2rem 2rem;
    padding: 2rem;
  }

  .labelSmall {
    border-radius: 0 0 2rem 2rem;
  }

  .project-grid {
    display: grid;
    grid-gap: 2rem;
    align-items: baseline;
    grid-column-gap: 4rem;
  }

  .grid-primary {
    grid-column: span 2;
  }

/*About Page*/
  #bioIntro {
    margin-right: 15rem;
    margin-top: 7rem;
  }

  #profilePic {
    display: inline;
    float: right;
    padding-left: 2rem
  }
}

/*laptops & desktops */
@media (min-width: 991px) {
  header {
    height: 15vh;
  }

  .logo {
    padding-left: 8rem;
  }

  .navLink {
    margin-right: 5rem;
  }

  #heroText {
    margin-right: 45rem;
  }

  .project-grid {
    display: grid;
    grid-template-columns: 65% 23%;
    align-items: center;
    grid-column-gap: 10rem;
  }

  .container {
    margin-left: 14rem;
    padding-left: 0;
  }

  .sub-container {
    margin: 5rem;
  }

  .left {
    width: 50%;
    display: inline-block;
  }

  .right {
    width: 50%;
    display: inline-block;
  }

  .grid-primary {
    grid-column: auto;
    grid-row: span 2;
  }

  .p3 {
    font-size: 1.8rem;
  }

}
