#simHero {
  padding-top: 9rem;
  width: 100%;
}

.wireframes {
  width: 100%;
}

.wireframes, #simHiFiColors {
  margin: auto;
  padding-bottom: 4rem;
}

.quote {
  font-family: 'josefin sans', sans-serif;
  font-size: 4rem;
  padding-bottom: 6rem;
}

#simLogo {
  margin: auto;
  padding-bottom: 4rem;
  width: 40%;
}

.mockupOption {
  padding-bottom: 4rem;
  width: 100%;
}

#underline {
  background-image: url(../images/underline.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 2.5rem;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

#pomegranate {
  background-image: url(../images/sim/pomegranate.svg);
}

#jade {
  background-image: url(../images/sim/jade.svg);
}

#yellow {
  background-image: url(../images/sim/yellow.svg);
}

#pomegranate, #jade, #yellow {
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 1.5rem;
}

.prefTests {
  padding-top: 3rem;
}

/*tablets*/
@media (min-width: 575px) {
  #simHiFiColors, .wireframes, .mockupOption {
    padding-bottom: 6rem;
    width: 75%;
  }

  .mockupOption {
    margin: auto;
  }

  #simHiFiColors, #simLogo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*laptops & desktops */
@media (min-width: 991px) {
  #simHero {
    width: 150%;
  }

  .IA {
    margin-top: 8rem;
  }

  .wireframes {
    width: 100%;
  }

  #wireframe1 {
    padding-top: 13.2rem;
  }

  #wireframe2 {
    width: 114%;
  }

  .usabilityTesting {
    width: 50%;
  }

  .competitiveAnalysis {
    width: 60%;
  }

  #simLogo, .brand {}

  #quote2 {
    grid-column: span 2;
    width: 50%;
  }
}
