#yapperHeroLarge, #userFlowDesktop, #mockupLarge, #colorLarge, .option1, .option2 {
  display: none;
}

#yapperHero {
  margin: auto;
  padding-left: 4rem;
  padding-top: 9rem;
}

.summary, .process {
  padding-top: 16rem;
}

.caseStudyPic {
  margin-bottom: 4rem;
}

#userFlows {
  margin-bottom: 5rem;
}

.wireframes {
  display: grid;
  grid-gap: 5rem;
}

#wireframesDesktop {
  display: none;
}

#wordWebs {
  margin-bottom: 5rem;
  margin-left: -3rem;
}

#wordWebsDesktop {
  display: none;
}

#brandColors {
  display: flex;
  justify-content: center;
  align-items: center;
}

#yapperLogosDesktop {
  display: none;
}

/* tablets */
@media (min-width: 575px) {
  #yapperHeroLarge {
    display: flex;
    margin: auto;
    padding-top: 9rem;
  }

  #yapperHero {
    display: none;
  }

  .caption_left {
    margin-left: -9rem;
    padding-left: 5rem;
  }

  #wordWebs {
    margin: 0;
    width: 100%;
  }

  #yapperLogos {
    width: 100%;
  }

  #mockupMobile {
    margin-bottom: 9rem;
    margin-left: 9rem;
    width: 70%;
  }

}

  /*laptops & desktops */
  @media (min-width: 991px) {
    .process, .visualDesignGrid {
      margin-bottom: 20rem;
    }

    #userFlowDesktop, #yapperLogosDesktop {
      bottom: 15rem;
      display: flex;
      float: right;
      margin-left: 5rem;
      margin-right: -10rem;
      position: relative;
      width: 60%;
    }

    .wireframes {
      grid-template-columns: 50% 50%;
    }

    #wireframesDesktop, .option1, .option2 {
      display: flex;
    }

    #wordWebsDesktop {
      display: flex;
      width: 90%;
    }

    #colorLarge {
      display: flex;
      padding-bottom: 3rem;
    }

    .colorPalette {
      padding-right: 10rem;
    }

    #paletteText {
      margin-left: 3rem;
    }

    #mockupLayered, #mockupMobile, #colorMobile, #wordWebs, #userFlows, #yapperLogos, #wireframesMobile {
      display: none;
    }

    #mockupLarge {
      display: grid;
    }

    .testing {
      margin-top: 9rem;
    }

    .prefTests {
      display: grid;
      grid-gap: 10rem;
      grid-template-columns: 50% 50%;
      margin-bottom: 5rem;
    }

    #tab1, #tab2 {
      width: auto;
    }

    #mockupLarge {
      width: 90%;
    }

    #finalTests {
      display: grid;
      grid-gap: 5rem;
      grid-template-columns: 30% 30% 30%;
      margin-bottom: 5rem;
    }

    .conclusion {
      grid-column-gap: 6rem;
    }
  }
