#yapperHeroLarge, #userFlowDesktop, #mockupDesktop, #colorLarge, #wireframesDesktop, .option1, .option2 {
  display: none;
}

#yapperHero {
  padding-top: 9rem;
  width: 100vw;
}

.caseStudyPic {
  margin-bottom: 4rem;
}

#userFlows, #yapperLogos {
  margin-bottom: 0rem;
}

/* tablets */
@media (min-width: 575px) {
  #wireframesMobile {
    width: 100%;
  }

  #wordWebs {
    margin: 0;
    width: 100%;
  }

  #colorLarge {
    display: flex;
    padding-bottom: 4rem;
  }

  #yapperLogos, #mockupLayered, #tab1, #tab2 {
    margin: auto;
    padding-bottom: 4rem;
  }

  #mockupMobile, #colorMobile {
    display: none;
  }

  #mockupDesktop {
    display: inline;
    padding: 0rem;
    width: 100%;
  }

/*laptops & desktops */
@media (min-width: 991px) {
  #yapperHero {
    padding-top: 2rem;
    width: 70vw;
  }

  .userFlowsImages {
    position: absolute;
  }

  .colorPalette {
    padding-right: 10rem;
  }

  #paletteText {
    margin-left: 3rem;
  }

  #mockupMobile, #mockupLayered, #colorMobile {
    display: none;
  }

  #wireframesDesktop, .option1, .option2 {
    display: flex;
}

  #wordWebs, #yapperLogos {
    width: 90%;
  }

  .logoSketches {
    grid-column-start: 2;
  }

  .logoDesign {
    grid-column-start: 1;
    grid-row-start: 3;
    width: 100%;
  }

  #mockupLarge {
    display: grid;
  }

  .testing {
    margin-top: 9rem;
  }

  .prefTests {
    margin-bottom: 5rem;
  }

  .option1, .option2, #tab1, #tab2 {
    width: 50%;
  }

  #finalTests, #mockupDesktop {
    display: block;
    margin-bottom: 5rem;
    width: 100%;
  }
}
