#yapperHeroLarge, #userFlowDesktop, #mockupLarge, #colorLarge, #wireframesDesktop, #wordWebsDesktop, #yapperLogosDesktop, .option1, .option2 {
  display: none;
}

#yapperHero {
  display: block;
  margin: auto;
  padding-top: 9rem;
}

.summary {
  padding-top: 16rem;
}

.caseStudyPic {
  margin-bottom: 4rem;
}

#brandColors {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* tablets */
@media (min-width: 575px) {
  #yapperHeroLarge {
    display: flex;
    margin: auto;
    padding-top: 9rem;
  }

  #yapperHero {
    display: none;
  }

  .caption_left {
    margin-left: -9rem;
    padding-left: 5rem;
  }

  #userFlows {
    display: none;
  }

  #userFlowDesktop {
    display: flex;
    width: 100%;
  }

  #wireframesMobile {
    margin-left: 9rem;
    width: 70%;
  }

  #wordWebs {
    margin: 0;
    width: 100%;
  }

  #yapperLogos {
    margin: auto;
    width: 100%;
  }

  #mockupMobile {
    margin-bottom: 9rem;
    width: 30%;
  }

/*laptops & desktops */
@media (min-width: 991px) {
  .process, .visualDesignGrid {
    margin-bottom: 20rem;
  }

  #colorLarge {
    display: flex;
    padding-bottom: 3rem;
  }

  .colorPalette {
    padding-right: 10rem;
  }

  #paletteText {
    margin-left: 3rem;
  }

  #mockupLayered, #mockupMobile, #colorMobile, #wordWebs, #yapperLogos, #wireframesMobile {
    display: none;
  }

  #yapperLogosDesktop, #wireframesDesktop, .option1, .option2 {
    display: flex;
}

  #mockupLarge {
    display: grid;
  }

  .testing {
    margin-top: 9rem;
  }

  .prefTests {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    margin-bottom: 5rem;
  }

  .option1, .option2, #tab1, #tab2 {
    width: 75%;
  }

  #mockupLarge {
    width: 90%;
  }

  #finalTests {
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: 30% 30% 30%;
    margin-bottom: 5rem;
  }

  #testingIntro, #finalTestText {
    width: 50%;
  }

  .conclusion {
    grid-column-gap: 6rem;
  }
}
